.wave-container {
    background: linear-gradient(180deg, rgba(127, 182, 212, 0.75), rgba(127, 182, 212, 0.75)) ;

}
header img {
    height: 10em;
}
@media screen and (min-width:1001px )
{
    .header-contenu{
        height: 50vh;
    }
    #maNavBar{
        height: 10em;
    }
    header img {
        height: 10em;
    }
    .hero-content-left h1 {
        font-size: 5em;
        line-height : 1em;
    }
    /*Ordi */
}
@media screen and (max-width:1000px )
{
    .header-contenu{
        height: 50vh;
    }
    #maNavBar{
        height: 17vh;
    }
    #navbarSupportedContent{
        background-color: #7FB6D4;
        box-shadow: 100px 100px 100px 900px rgba(0, 0, 0, 0.32);
    }
    header img {
        height: 7em;
    }
    .hero-content-left h1 {
        font-size: 3em;
        line-height : 1.5em;
    }
    /*Tablette / Smartphone */
}
.header-contenu .row {
    height: 100%;
}
.background-img {
    position:relative;
    width:100%;
    display:block;
}
.background-img:before {
    position:absolute;
    content:'';
    background: rgba(127, 182, 212, 0.85);
    width:100%;
    height:100%;
    top:0;
    left:0
}
.pt-100 {
    padding-top:100px
}
.hero-content-left,
.sign-up-form-wrap {
    z-index:2
}

.hero-content-left button {
    background-color: #7FB6D4;
    color: white;
    font-size:1.5rem;
}
.lead {
    font-size:1.5rem;
    line-height: 1em;
}

.bottom-img {
    position:relative;
    bottom:-10px;
    width:100%
}
.bottom-img img {
    width:100%
}
.main-menu ul li {
    padding:15px 0 0
}
.affix {
    background-color:#7FB6D4;
    -webkit-transition:padding .2s ease-out;
    -moz-transition:padding .2s ease-out;
    -o-transition:padding .2s ease-out;
    transition:padding .2s ease-out
}
nav .nav-item .nav-link {
    font-size: 1.6em;
}